<!DOCTYPE HTML>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<title>Jaspal's Voice</title>
  	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href="../assets/css/styles.css" type="text/css" rel="stylesheet">
  </head> 
  <body>
    <div class="container">

      <div id="header"> 
        
        <div class="logo area">
          <div>
            <img src="../assets/img/heart.png" style="height:50px;">
          </div>
        </div>

        <!--navigation--> 
        <nav>
      	  <ul class="nav">
      	  	<li>ABOUT US</li>
      	  	<li>STORIES</li>
      	  	<li>GET INVOLVED</li>
            <li>FAQS</li>
      	  	<li>DONATE</li>
      	  </ul>
        </nav>

      </div>

    	<div class="container-fluid">
        <div class="hero"> 
      	  <!--Introduction--> 
      	  <div class="row group"> 
      	  	<h1>One of the hardest things about Motor Neurone Disease is losing your voice</h1>
      	  	<p>When Susan's sister Jaspal contracted MND and was struggling to talk or type on a normal phone, a 10-year-old Nokia phone with an 8 button keypad proved a suprising but effective way for the two sisters to communicate.</p>
      	  	<p>From high-tech to the very low, these are some of the products that can restore that precious thing to a person, their voice.</p>
      	  </div>
        </div>

          <!--Mission--> 
          <div class="row group">
            <h1>Our Mission</h1>
              <p>We provide information and reviews of communication devices for sufferers of motor neurone disease.</p>
              <p>We give communications devices to people in need, funded by donations.</p>
              <p>Through reviews and comments we hope to get more people's stories and experiences about communicating with MND with the aim of sharing knowledge and helpful experience.</p>

            <button>More about us</button>
          </div>

      	  <!--Product horizontal parallax-->
          <div class="row group">
            <h1>Products</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <button>NHS Products</button>
            <button>Virtual mobile</button>
            <button>Innovation</button>

            <div class="slider">
              <img src="../assets/img/product-nueye.jpg">
            </div>
          </div>
    	  

      	  <!--Action boxes-->
      	  <div class="action">
      	  	<div>
              <div>
                <img src="../assets/img/contact.png" style="height:70px">
              </div>
              <p>Contact</p>
            </div>           
            <div>
              <div>
                <img src="../assets/img/heart.png" style="height:55px; padding-top:10px">
              </div>
              <p>Donate</p>
            </div>
      	  	<div>
              <div>
                <img src="../assets/img/hand.png" style="height:65px">
              </div>
              <p style="padding-bottom:-10px">Volunteer</p>
            </div>
      	  </div>
  	   </div>

       <!--FOOTER--> 
      <div id="footer">
        <div class="group">
          <img src="../assets/img/heart.png" style="height:50px;">
          <ul>
            <li>x</li>
            <li>x</li>
            <li>x</li>
            <li>x</li>
          </ul>
          <p>Everybody needs a voice</p>
        </div>
      </div>

  </div>
  <script>

  </script> 
  </body>
</html>